.banner {
    display: flex; 
    height: 100px;
    width: 100%;

    align-items: center;
  }

  .banner div{
      margin-left: 5%;
      color:rgb(150, 150, 150);
    font-size: 20px;
   
    font-family: Arial, Helvetica, sans-serif;
  }

  .carrito{
margin-left: 10%;
  }
.iniciosesion{
    margin-left: 35%;
}
.separador{

    width: 100%;
    height: 2px;
    background: rgb(220, 220, 220);
}

#seleccion{
    display: flex;
}

#lomejor{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color:rgb(39, 211, 145);
    margin-left: 10%;
    margin-top: 2%;
}
.recomendaciones{
    display: flex;
margin-left: 10%;
margin-top: 2%;
}

.recomendaciones img {
    margin-left: 2%;
}

#xl{
    width: 100%;
  
    
    text-align: center;
}


.campos{
    
 display: flex;
 flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:rgb(120, 120, 120); 
    margin-top: 2%;

width: 15%;
margin-left: 43%;
text-align: center;

}
.campos a img{
   margin-left: -60%;

}

.logos{
 display: flex;
 margin-left: 30%;
 margin-right: 25%;
 flex-wrap: wrap;
 margin-top: 3%;
}

.elige{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:rgb(30, 190, 129); 
    margin-top: 2%;
}
.btnregistrar{
    text-align: center;
    margin-top: 2%;
}

.noproduct{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color:rgb(39, 211, 145);
    margin-left: 30%;
    margin-top: 2%;
   
}